/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap'); */

@font-face {
  font-family: Stolzl;
  src: url("../src/assets/Stolzl-Regular.ttf");
  font-weight: regular;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clickPrint {
  background-image: url('../src/assets/clickPrint.png');
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 20;
}

header {
  width: 100%;
  height: 20vh;
  /* background-color:#eee; */
  padding: 0.3rem 2rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.wrapper_heaer_clock {
  margin: auto 0;
}

#heaer_clock {
  font-size: 2.5rem;
  margin: auto 0;
}

.heaer_help {
  font-size: 2.5rem;
  margin: auto 0;
  border: none;
  background:none;
}

.heaer_help:hover {
  color: orange;
}

.logo {
  background-image: url('../src/assets/cub.png');
  width: 100px;
  height: 100px;
  margin: auto 0;
}

h1 {
  font-size: 2.5rem;
  margin: auto 0;
  padding-left: 2rem;
}

.heaer_logo {
  display: flex;
  justify-content: space-between;
}

section {
  width: 100%;
  height: 70vh;
}

footer {
  width: 100%;
  height: 10vh;
  /* background-color:#eee; */
  padding: 0 2rem 0 2rem;
  display: flex;
  justify-content: space-between;
}

p {
  margin: auto 0;
}

body {
  background-image: url('../src/assets/bg.jpg');
  font-size: 14px;
  /* font-family: 'Roboto', sans-serif; */
  font-family: Stolzl;
  height: 100vh;
  width: 100%;
  padding: 0 2rem 0 2rem;
}

.menu {
  position: fixed;
  z-index: 1000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  display: none;
  list-style: none;
}

.menu.open {
  display: block;
}

.menu .menu-item {
  padding: 8px 10px;
  font-size: 1rem;
  color: #eee;
  cursor: pointer;
  transition: background-color .2s ease-in;
  border-radius: inherit;
}

.menu .menu-item:hover {
  background: #343434;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
